html, body {
  padding:0px;
  margin:0px;
}

body {
  font-family: ''Lato', sans-serif';
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

h1 {
  font-family: 'Grenze Gotisch', cursive;
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
}

h1 a {
  color: #333;
  text-decoration: none;
}

h2, h3 {
  text-align: center;
}

p {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.form-div
{
    display: block;
    text-align: center;
    margin-top: 50px;
}

Form
{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    width: 60%;
}

/* .input, .text-area, .select{
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0px;
  box-sizing: border-box;
} */

/* input[type=text], select, textarea {
  resize: vertical
} */

/* .blueprints, .courses {
  margin: 15px !important;
} */


.categories {
  margin: 10px !important;
}

button {
  width: 100px;
  padding: 5px 8px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}

.cartBtn {
 width: 50%;
}

.instead {
  color: #333;
}

footer {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
 }